# Apply to all files
* @nbolton @sithlord48

# Translators
translations/uniflow_es.ts @sithlord48
translations/uniflow_it.ts @sithlord48
translations/uniflow_ja.ts @ykasap
translations/uniflow_ru.ts @levpr1c
translations/uniflow_zh_CN.ts @sailordiary
